.client{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    border: 1px solid red;
}

.input{
    height: 38px;
    width: 49vw;
}

.buttons{
    text-align: center;
}

#bSave{
    background-color: red;
    color: white; 
    border-radius: 5px;
    height: 38px;
    width: 80px;
}

#bCancel{
    background-color: black;
    color: white; 
    border-radius: 5px;
    height: 38px;
    width: 80px;
}
