.book{
    width: 70vw;
    height: 70vh;
    margin: 5vh auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
}

.input{
    height: 38px;
    width: 49vw;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px; 
    margin-top: 10px;
    margin-left: 5px;
  }

#bSave{
    background-color: red;
    color: white; 
    border-radius: 5px;
    height: 38px;
    width: 80px;
}

#bCancel{
    background-color: black;
    color: white; 
    border-radius: 5px;
    height: 38px;
    width: 80px;
}

#nBook{
    margin-left: 5px;
}