.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    perspective: 800px;
    margin: 5vh auto;
  }

  .fixMessage {
    color: rgb(199, 0, 0) !important;
  }
  
  
  .home h1 {
    font-size: 36px;
    text-align: center;
    color: #333;
    transform: translateZ(100px);
  }

.linkStyle{
    color: red;
}