.login {
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
  }
  
  .text1,
  .text2,
  .text3 {
    margin-left: 5px;
  }
  
  .input {
    padding: 5px;
    margin: 5px 5px;
  }
  
  .button {
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 38px;
    width: 65px;
    align-self: center;
  }
  