.navbar {
    display: flex;
    flex-direction: column;
    background-color: #ed0a0a;
    width: 20vh;
    height: 92vh;
}

.list {
    list-style: none;
    align-items: center;
}

.item {
    font-weight: bold;
    margin: 20px 0 50px;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a:hover {
    color: #1e1e1f;
    text-decoration: none;
}
