.top {
    background-color: #5c5555;
    color: #fff;
    height: 50px;
    margin-top: -20px;
    text-align: right;    
}

.topLogin {
    list-style: none;
    align-items: center;
}

.itemLogin {
    font-weight: bold;
    margin: 20px 0 50px;
}

.itemLogin a {
    color: #fff;
    text-decoration: none;
}

.itemLogin a:hover {
    color: #1e1e1f;
    text-decoration: none;
}
