.top {
    background-color: #e6e6e6;
    color: #030303;
    text-align: right;
    height: 8vh;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 8px 20px rgba(0, 0, 0, 0.3);
}

.top ul {
    margin-right: 30px;
}

.topLogin {
    list-style: none;
    align-items: center;
}

.itemLogin {
    font-weight: bold;
    margin: 20px 0 50px;
}

.message {
    font-weight: bold;
    margin: 50px;
}

.itemLogin a {
    color: #fff;
    text-decoration: none;
}

.itemLogin a:hover {
    color: #1e1e1f;
    text-decoration: none;
}

.top:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
}